
# Specify, which parts of conedy should be build and installed. Please choose one of the following: conedy python-conedy conedy-src documentation

todo = python-conedy conedy conedy-src documentation


# Installation directory (with path)

dirinstall = /usr/bin

# Installation directory for specific files

dirsrc = /usr/share/conedy


# monitor directory for added nodes   
addedDir = $HOME/.config/conedy/addedNodes 


#In case you install Conedy's sources and executables into a directory, which is not in userspace, recompilation will require root-priviledges. Choose the tool, which allows to acquire root-priviledges. sudo or kdesudo will work fine. For an installation in userspace noUserSpace can be left empty. 

noUserSpace = sudo


globalConfig = /etc/conedy.config


#number of cores

numberCores = `cat /proc/cpuinfo | grep processor | wc -l`

VERSION = `git describe --tags`



.SILENT:	all

