Source: conedy
Section: devel
Priority: extra
Maintainer: Alexander Rothkegel <rothkegel@uni-bonn.de>
Build-Depends: debhelper (>= 7), cdbs, python-all-dev, boost-build | libboost-dev (>=1.46),libgsl0-dev (>= 1.15), libboost-dev, libboost-python-dev, libboost-iostreams-dev, libz-dev, python-support, bisonc++, flex , texlive-latex-base, python-sphinx, texlive-latex-recommended, texlive-latex-extra, texlive-fonts-recommended, vim-common, dvipng
Standards-Version: 3.7.3
Homepage: http://www.google.de

Package: conedy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, make
Description: scientific tool for numerical integration of dynamical networks


Package: conedy-src
Architecture: any
Depends: python-all-dev, libgsl0-dev, boost-build | libboost-dev (>=1.46), libboost-dev, libboost-python-dev, libboost-iostreams-dev, libz-dev, python-support, bisonc++, flex, , make 
Description: recompilation support for conedy
Conflicts: python-conedy

Package: python-conedy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, make
Description: python-binding for conedy
