.. _download:

Download
========

.. _sourcedownload:

Source
------

You can download the source of the latest release `here`_.

.. _here: download/conedy_RELEASE.tar.gz

Alternatively, you can obtain the latest version of Conedy’s source from `its Github repository`_, for example with the following command::

	git clone http://github.com/Conedy/Conedy

.. _its Github repository: http://github.com/Conedy/Conedy

See :ref:`building` for building instructions.

Linux
-----

``python-conedy``
+++++++++++++++++

Python bindings for Conedy

**Debian**

..  `lenny-amd64 <download/lenny-amd64/python-conedy_RELEASE_amd64.deb>`_
..  `lenny-i386 <download/lenny-i386/python-conedy_RELEASE_i386.deb>`_

.. `squeeze-amd64 <download/squeeze-amd64/python-conedy_RELEASE_amd64.deb>`_
.. `squeeze-i386 <download/squeeze-i386/python-conedy_RELEASE_i386.deb>`_

`wheezy-amd64 <download/wheezy-amd64/python-conedy_RELEASE_amd64.deb>`_
`wheezy-i386 <download/wheezy-i386/python-conedy_RELEASE_i386.deb>`_

**Ubuntu**

`racing-amd64 <download/racing-amd64/python-conedy_RELEASE_amd64.deb>`_
`racing-i386 <download/racing-i386/python-conedy_RELEASE_i386.deb>`_

.. `precise-amd64 <download/precise-amd64/python-conedy_RELEASE_amd64.deb>`_
.. `precise-i386 <download/precise-i386/python-conedy_RELEASE_i386.deb>`_

`saucy-amd64 <download/saucy-amd64/python-conedy_RELEASE_amd64.deb>`_
`saucy-i386 <download/saucy-i386/python-conedy_RELEASE_i386.deb>`_

..`natty-amd64 <download/natty-amd64/python-conedy_RELEASE_amd64.deb>`_
..`natty-i386 <download/natty-i386/python-conedy_RELEASE_i386.deb>`_

..`oneiric-amd64 <download/oneiric-amd64/python-conedy_RELEASE_amd64.deb>`_
..`oneiric-i386 <download/oneiric-i386/python-conedy_RELEASE_i386.deb>`_



``conedy``
++++++++++
The :ref:`Flex–Bison interpreter <scriptInterpreter>` of Conedy

**Debian**

.. `lenny-amd64 <download/lenny-amd64/conedy_RELEASE_amd64.deb>`_
.. `lenny-i386 <download/lenny-i386/conedy_RELEASE_i386.deb>`_

.. `squeeze-amd64 <download/squeeze-amd64/conedy_RELEASE_amd64.deb>`_
.. `squeeze-i386 <download/squeeze-i386/conedy_RELEASE_i386.deb>`_


`wheezy-amd64 <download/wheezy-amd64/conedy_RELEASE_amd64.deb>`_
`wheezy-i386 <download/wheezy-i386/conedy_RELEASE_i386.deb>`_

**Ubuntu**

`racing-amd64 <download/racing-amd64/conedy_RELEASE_amd64.deb>`_
`racing-i386 <download/racing-i386/conedy_RELEASE_i386.deb>`_

`saucy-amd64 <download/saucy-amd64/conedy_RELEASE_amd64.deb>`_
`saucy-i386 <download/saucy-i386/conedy_RELEASE_i386.deb>`_

.. `natty-amd64 <download/natty-amd64/conedy_RELEASE_amd64.deb>`_
.. `natty-i386 <download/natty-i386/conedy_RELEASE_i386.deb>`_
..
.. `oneiric-amd64 <download/oneiric-amd64/conedy_RELEASE_amd64.deb>`_
.. `oneiric-i386 <download/oneiric-i386/conedy_RELEASE_i386.deb>`_

``conedy-src``
++++++++++++++

Installs the source of Conedy, and adds support for :ref:`automatic recompilation<recompilation>`. Allows adding nodes with :ref:`user-defined dynamics<addingNewNodes>`.

**Debian**

.. `lenny-amd64 <download/lenny-amd64/conedy-src_RELEASE_amd64.deb>`_
.. `lenny-i386 <download/lenny-i386/conedy-src_RELEASE_i386.deb>`_

.. `squeeze-amd64 <download/squeeze-amd64/conedy-src_RELEASE_amd64.deb>`_
.. `squeeze-i386 <download/squeeze-i386/conedy-src_RELEASE_i386.deb>`_

`wheezy-amd64 <download/wheezy-amd64/conedy-src_RELEASE_amd64.deb>`_
`wheezy-i386 <download/wheezy-i386/conedy-src_RELEASE_i386.deb>`_

**Ubuntu**

`racing-amd64 <download/racing-amd64/conedy-src_RELEASE_amd64.deb>`_
`racing-i386 <download/racing-i386/conedy-src_RELEASE_i386.deb>`_

`saucy-amd64 <download/saucy-amd64/conedy-src_RELEASE_amd64.deb>`_
`saucy-i386 <download/saucy-i386/conedy-src_RELEASE_i386.deb>`_

.. `natty-amd64 <download/natty-amd64/conedy-src_RELEASE_amd64.deb>`_
.. `natty-i386 <download/natty-i386/conedy-src_RELEASE_i386.deb>`_
 
.. `oneiric-amd64 <download/oneiric-amd64/conedy-src_RELEASE_amd64.deb>`_
.. `oneiric-i386 <download/oneiric-i386/conedy-src_RELEASE_i386.deb>`_


Windows
-------

`win32-py2.7.exe <download/windows/conedy-0.25.win32-py2.7.exe>`_
`boost_iostreams-vc90-mt-1_46_1.dll <download/windows/boost_iostreams-vc90-mt-1_46_1.dll>`_
`boost_python-vc90-mt-1_46_1.dll <download/windows/boost_python-vc90-mt-1_46_1.dll>`_



.. _cs-lenny-amd64: download/lenny-amd64/conedy-src_RELEASE_amd64.deb
.. _cs-lenny-i386: download/lenny-i386/conedy-src_RELEASE_i386.deb
.. _cs-squeeze-amd64: download/squeeze-amd64/conedy-src_RELEASE_amd64.deb
.. _cs-squeeze-i386: download/squeeze-amd64/conedy-src_RELEASE_amd64.deb
.. _cs-wheezy-amd64: download/wheezy-amd64/conedy-src_RELEASE_amd64.deb
.. _cs-wheezy-i386: download/wheezy-amd64/conedy-src_RELEASE_amd64.deb
.. _cs-precise-amd64: download/precise-amd64/conedy-src_RELEASE_amd64.deb
.. _cs-precise-i386: download/precise-amd64/conedy-src_RELEASE_amd64.deb
.. _cs-racing-amd64: download/racing-amd64/conedy-src_RELEASE_amd64.deb
.. _cs-racing-i386: download/racing-amd64/conedy-src_RELEASE_amd64.deb
.. _cs-saucy-amd64: download/saucy-amd64/conedy-src_RELEASE_amd64.deb
.. _cs-saucy-i386: download/saucy-amd64/conedy-src_RELEASE_amd64.deb
.. _cs-natty-amd64: download/natty-amd64/conedy-src_RELEASE_amd64.deb
.. _cs-natty-i386: download/natty-amd64/conedy-src_RELEASE_amd64.deb
.. _cs-oneiric-amd64: download/oneiric-amd64/conedy-src_RELEASE_amd64.deb
.. _cs-oneiric-i386: download/oneiric-amd64/conedy-src_RELEASE_amd64.deb

.. _pc-lenny-amd64: download/lenny-amd64/python-conedy_RELEASE_amd64.deb
.. _pc-lenny-i386: download/lenny-i386/python-conedy_RELEASE_i386.deb
.. _pc-squeeze-amd64: download/squeeze-amd64/python-conedy_RELEASE_amd64.deb
.. _pc-squeeze-i386: download/squeeze-amd64/python-conedy_RELEASE_amd64.deb
.. _pc-wheezy-amd64: download/wheezy-amd64/python-conedy_RELEASE_amd64.deb
.. _pc-wheezy-i386: download/wheezy-amd64/python-conedy_RELEASE_amd64.deb
.. _pc-precise-amd64: download/precise-amd64/python-conedy_RELEASE_amd64.deb
.. _pc-precise-i386: download/precise-amd64/python-conedy_RELEASE_amd64.deb
.. _pc-racing-amd64: download/racing-amd64/python-conedy_RELEASE_amd64.deb
.. _pc-racing-i386: download/racing-amd64/python-conedy_RELEASE_amd64.deb
.. _pc-saucy-amd64: download/saucy-amd64/python-conedy_RELEASE_amd64.deb
.. _pc-saucy-i386: download/saucy-amd64/python-conedy_RELEASE_amd64.deb
.. _pc-natty-amd64: download/natty-amd64/python-conedy_RELEASE_amd64.deb
.. _pc-natty-i386: download/natty-amd64/python-conedy_RELEASE_amd64.deb
.. _pc-oneiric-amd64: download/oneiric-amd64/python-conedy_RELEASE_amd64.deb
.. _pc-oneiric-i386: download/oneiric-amd64/python-conedy_RELEASE_amd64.deb

.. _c-lenny-amd64: download/lenny-amd64/conedy_RELEASE_amd64.deb
.. _c-lenny-i386: download/lenny-i386/conedy_RELEASE_i386.deb
.. _c-squeeze-amd64: download/squeeze-amd64/conedy_RELEASE_amd64.deb
.. _c-squeeze-i386: download/squeeze-amd64/conedy_RELEASE_amd64.deb
.. _c-wheezy-amd64: download/wheezy-amd64/conedy_RELEASE_amd64.deb
.. _c-wheezy-i386: download/wheezy-amd64/conedy_RELEASE_amd64.deb
.. _c-precise-amd64: download/precise-amd64/conedy_RELEASE_amd64.deb
.. _c-precise-i386: download/precise-amd64/conedy_RELEASE_amd64.deb
.. _c-racing-amd64: download/racing-amd64/conedy_RELEASE_amd64.deb
.. _c-racing-i386: download/racing-amd64/conedy_RELEASE_amd64.deb
.. _c-saucy-amd64: download/saucy-amd64/conedy_RELEASE_amd64.deb
.. _c-saucy-i386: download/saucy-amd64/conedy_RELEASE_amd64.deb
.. _c-natty-amd64: download/natty-amd64/conedy_RELEASE_amd64.deb
.. _c-natty-i386: download/natty-amd64/conedy_RELEASE_amd64.deb
.. _c-oneiric-amd64: download/oneiric-amd64/conedy_RELEASE_amd64.deb
.. _c-oneiric-i386: download/oneiric-amd64/conedy_RELEASE_amd64.deb

